/* These are namespaced to Joomla so could be loaded on other CMSs and not work */

body.admin.com_civicrm .crm-container label,
body.admin.com_civicrm  .crm-container .description {
  font-size: 1em; /* ems to inherit Grernwich's small size */
}
body.admin.com_civicrm .crm-container .crm-form-block {
  background-color: transparent;
}
body.admin.com_civicrm .crm-container .crm-accordion-wrapper {
  background-color: #fff;
}
body.admin.com_civicrm .crm-container .label {
  background: transparent;
  font-size: inherit;
  line-height: inherit;
} 
body.admin.com_civicrm #crm-content {
  padding: 1rem 0;
}
body.admin.com_civicrm .crm-container #subhead-container,
body.admin.com_civicrm .subhead-collapse {
  display: none;
}
body.admin.com_civicrm.layout-default .crm-dashlet {
  max-width: 60vw; 
}
body.admin.com_civicrm .crm-container.ui-dialog {
  z-index: 100000 !important;
}
body.admin.com_civicrm.layout-default .ui-widget-overlay {
  z-index: 1;
}
body.admin.com_civicrm.layout-default .modal-dialog {
  max-width: inherit;
  margin: 0;
  padding: 0;
  margin: 0;
  overflow: scroll;
  pointer-events: all;
}
