/* joomla.css: Joomla-specific css directives for CiviCRM. */

/* Remove Joomla 3 subhead toolbar & whitespace border */

body.admin.com_civicrm .subhead-collapse {
  display: none;
}
body.admin.com_civicrm .container-fluid.container-main {
  padding: 0;
  border-top: 1px solid #787878;
}
body.admin.com_civicrm.task-civicrmupgrade .container-fluid.container-main {
  padding: 10px 25px 25px;
}
body.admin.com_civicrm #crm-nav-menu-container {
  padding-bottom: 0 !important;
}

/* Joomla 4 */

@media (min-width: 768px) {
  body.admin.com_civicrm.layout-default #crm-container {
    padding-top: 2rem;
  }
}
body.admin.com_civicrm.layout-default #subhead-container {
  display: none;
}
body.admin.com_civicrm.layout-default .crm-container .crm-dashlet {
  max-width: 50vw; /* fixes over-wide news dashlet */
}
body.admin.com_civicrm.layout-default .crm-container .content {
  padding: inherit; /* overrides J4 duplicated padding */
}

/* Reset Joomla 4 breadcrumb css */

body.admin.com_civicrm .breadcrumb {
  background-color: inherit;
}

/* J4 Modals */

body.admin.com_civicrm.layout-default .crm-container.ui-dialog.ui-resizable {
  z-index: 10000;
}
body.admin.com_civicrm.layout-default .ui-widget-overlay {
  z-index: 1;
}
body.admin.com_civicrm.layout-default .crm-container .modal-dialog {
  max-width: inherit;
  padding: 0;
  margin: 0;
  overflow: scroll;
  pointer-events: all;
}
